body{
  padding-top: 80px;
}

.navbar-brand, .navbar-nav > li > a{
  height: 80px;
  line-height: 50px;
}

.carousel-inner > .item{
  min-height: 600px;
  background-size: cover;
  background-position: center center;
}

.big-padding{
  padding: 100px;
}

.caption > h3, .caption > h2{
  text-align: center;
}

.tab{
  font-size: 20px;
}

.modal-body{
  min-height: 450px;
}

.canvasjs-chart-canvas{
  min-width: 100%;
}

#myModalLabel{
  font-size: 30px; 
}
