body{
  padding-top: 80px;
}

.navbar-brand, .navbar-nav > li > a{
  height: 80px;
  line-height: 50px;
}

.carousel-inner > .item{
  min-height: 600px;
  background-size: cover;
  background-position: center center;
}

.carousel-caption > h3{
  color: red;
  font-size: 40px;
  background-color: blue;
}

.carousel-caption > p{
  color: white;
  font-size: 30px;
  background-color: blue;
}

.big-padding{
  padding: 100px;
}

.caption > h3, .caption > h2, .caption > p{
  text-align: center;
  font-size: 20px;
}

.tab{
  font-size: 20px;
}

.modal-body{
  min-height: 450px;
}

.canvasjs-chart-canvas{
  min-height: 400px;
  /*min-width: 868px;*/
}

#myModalLabel{
  font-size: 30px;
}
